
body{
    background-image: url('../imagens/fundo_login.jpg');
}

#saudacao{
    text-align: left;
    font-size: 26pt;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    text-decoration: overline rgb(238, 255, 0);
    color: rgb(255, 255, 255);
}

#atendimento{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    align-items: center;
    border: 4px solid blue;
    border-left: 40%;
}

#botoes{
    position: absolute;
    left: 70%;
    top: 110%;
    display: block;
    align-items: center;
}

#cadastro{
    width: 100%;
}

#bfp{
    width: 100%;
}