#Logout{
    position: absolute;
    right: 0%;
    top: 0%;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../imagens/fundo_login.jpg'); 
}

#saudacao{
    text-align: left;
    font-size: 26pt;
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    color: rgb(255, 255, 255);
}

#adeus{
    position: absolute;
    right: 0%;
    top: 100%;
}